<h1>Users</h1>
<a routerLink="edit" class="btn btn-sm btn-success mb-2">Edit</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Property</th>
            <th style="width: 30%">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Email</td>
            <td *ngIf="user && user.email">{{user.email}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td *ngIf="user && user.name">{{user.name}}</td>
        </tr>
    </tbody>
</table>